@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Saira+Stencil+One&display=swap');

body {
  background-color: #6D7CE4;
}
* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}